body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pokemon {
    cursor: pointer;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.2s;
}

.pokemon:hover {
    transform: scale(1.05);
}

.pokemon img {
    width: 100px;
    height: 100px;
    margin: auto;
}

#load-more {
    grid-column: span 4;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#pokemon-detail {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#pokemon-detail img {
    max-width: 200px;
    height: auto;
}

.catch-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.catch-btn.released {
    background-color: #f44336; /* Red background */
}

